{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-lighten-2 center-align"> 
   Your Pantry
</h3>






<ul class="collapsible popout">
    {% for item in items %}
    <li>
        <div class="collapsible-header white-text teal lighten-2 text-shadow">
            <i class="fas fa-caret-down"></i>
            <div class="col s3">
                <i class="fas fa-utensils"></i>
                {% if session.user|lower == item.created_by|lower %}
                    <a href="{{ url_for('delete_item', item_id=item._id) }}" class="btn-floating btn-small waves-effect waves-light teal-darken-5">Done</a>
                    <a href="{{ url_for('edit_item', item_id=item._id) }}" class="btn-floating btn-small waves-effect waves-light teal-darken-4">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ item.item_name }}</strong> : {{ item.purchase_date }}
            </div>
        </div>

        <div class="collapsible-body">
            <strong>{{ item.category_name }}</strong>
            <p>Item description : {{ item.item_description }}</p>
            <p>Date of purchase : {{ item.purchase_date }}</p>
            <p>Quantity : {{ item.item_quantity }}</p>
            <p><em>Added by: {{ item.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>


    
{% endblock %}